<ion-tabs class="tabs-icon-top">
    <ion-tab title="Tab1" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="demo-tab-tab1"></ion-nav-view>
  </ion-tab>
    <ion-tab title="Tab2" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-tab2"></ion-nav-view>
  </ion-tab>
    <ion-tab title="Tab3" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-tab3"></ion-nav-view>
  </ion-tab>
</ion-tabs>