<!--tab-message.html-->

<ion-view>
    <ion-content on-swipe-left="onSwipeLeft()">
        <ion-list>
            <ion-item class="item-avatar" on-hold="popupMessageOptions($index)" ng-repeat="message in messages">
                <img ng-src="{{message.pic}}">
                <!--来了新消息，头像上的红色数字-->
                <span ng-show="message.showHints"><p ng-bind="message.noReadMessages"></p></span>
                <h2 ng-bind="message.name"></h2>
                <p ng-bind="message.lastMessage.content"></p>
                <span ng-bind="message.lastMessage.time"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>